<% provide(:title, @list.name) %>
<%= render 'shared/header02' %>
<div class="show-contents">
  
  <main class="show_container">
    <%= render 'shared/list01' %>
  </main>
  
  <aside>
    <%= render 'shared/list02' %>
      <div class="return_btn">
        <%= link_to image_tag("return.png", onmouseover: "this.src='#{asset_path('return_on.png')}'", onmouseout: "this.src='#{asset_path('return.png')}'", class: "return" ), lists_path %>
      </div>
  </aside>
  
</div>
