<% provide(:title, "お問い合わせ") %>

<%= render 'shared/header02' %>

<div class="container_inquiry white_frame fadeIn1">
  <div>
    <h1>お問い合わせ</h1>
    <p>KIEETA（キエータ）をご利用頂きありがとうございます。</p>
    <p>本サービス内において、ご意見, ご要望, バグ報告等ございましたら</p>
    <p>下記TwitterアカウントのDMにてご報告頂けると助かります。</p>
  </div>
  <div class="twitter_btn">
    <%= link_to "https://twitter.com/10whatdoyoumean", target: :_blank, rel: "noopener noreferrer", class: "twitter link_to" do %>
    <span class="fa fa-twitter"></span>
    <span>@testtest</span>
    <% end %>
  </div>
</div>


