<%= render 'shared/header01' %>
<div class="top fadeIn1">
  <div>
   <%= image_tag "KIEETA_logo01.png", alt: "KIEETA logo", class: "logo_s" %>
  </div>
  <h1><%= link_to "Enter",   introduction_path, class: "top_enter link_to" %></h1>
</div>