<footer>
  <nav>
    <ul>
      <li><%= link_to "利用規約",   terms_path, class: "footer01" %></li>
      <li><%= link_to "プライバシーポリシー", privacy_policy_path, class: "footer01" %></li>
      <li><%= link_to "お問い合わせ",   inquiry_path, class: "footer01" %></li>
    </ul>
  </nav>
</footer>