<footer  class="footer">
  <nav>
    <ul class="flex">
      <li><%= link_to "利用規約",   '#', class: "footer01" %></li>
      <li><%= link_to "プライバシーポリシー", '#', class: "footer01" %></li>
      <li><%= link_to "お問い合わせ",   '#', class: "footer01" %></li>
    </ul>
  </nav>
</footer>