<header>
  <div class="container_header01">
      <%= link_to image_tag("shimeitehai.png", width: "200px", onmouseover: "this.src='#{asset_path('simeitehai_on.png')}'", onmouseout: "this.src='#{asset_path('shimeitehai.png')}'" ), "#" %>
  </div>
</header>