<header>
  <div class="container_header01">
      <%= link_to image_tag("shimeitehai.png", onmouseover: "this.src='#{asset_path('shimeitehai_on.png')}'", onmouseout: "this.src='#{asset_path('shimeitehai.png')}'" ), lists_path %>
  </div>
</header>