<h1 class="rst_text">＊ 君はこの人物の情報を集めてくれ。</h1>
<div class="show-contents">
  <main class="show_container">
    <%= render 'shared/list01' %>
  </main>
  
  <aside>
    <%= render 'shared/list02' %>
  </aside>
  
</div>

<%= render 'shared/footer02' %>