<p>君はこの人物の情報を集めてくれ。</p>
<div class="show-contents">
  <main class="font show_container">
    <%= render 'shared/list01' %>
  </main>
  
  <aside>
    <%= render 'shared/list02' %>
  </aside>
  
</div>