<div class="stage">
  <div id="cards">
    
    <div class="card">
      <div class="serif_container">
        <h1>将来住むなら？</h1>
        <div class="choice_container">
          <li id="q1_1" class="choice First">都会</li>
          <li id="q1_2" class="choice First">田舎</li>
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="serif_container">
        <h1>どちらが好き？</h1>
        <div class="choice_container">
          <li id="q2_1" class="choice Second">いぬ</li>
          <li id="q2_2" class="choice Second">ねこ</li>
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="serif_container">
        <h1>生まれ変わるなら？</h1>
        <div class="choice_container">
          <li id="q3_1" class="choice Third">男</li>
          <li id="q3_2" class="choice Third">女</li>
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="serif_container">
        <h1>どっち派？</h1>
        <div class="choice_container">
          <li id="q4_1" class="choice Fourth">ごはん</li>
          <li id="q4_2" class="choice Fourth">パン</li>
        </div>
      </div>
    </div>
  </div>
</div>