<main class="introduction" id="wrapper">
  <section class="container_introduction">
    <%= image_tag "character_02.jpg", alt: "KIEETA character", width: "600px", class: "character" %>
    <div class="dialogue_frame">
      <div class="text_frame">
        <p id="a">＊ 今日はここに来てくれてありがとう。</p>
        <div class="second">
          <p id="b">私はきえた犯罪者を追っている。</p>
        </div>
      </div>
    </div>
    <div class="next">
      <a class="next2">next</a>
    </div>
  </section>
</main>
