.show-contents {
  display: flex;
  justify-content: space-between;
  .show_container {
    width: 50%; 
    font-size: 30px;
    margin: 10px 300px 40px 50px;
    // padding: 10px 50px 40px 10px;
    #story {
      line-height: 1.3;
    }
  }
}

aside {
  width: 50%;
  li {
    list-style: none;
  }
  .report {
    width: 300px;
  }
}
