// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
  font-family: 'fox';
  src: asset-url('JFshinonomedot14.woff2') format('woff2'),
       asset-url('JFshinonomedot14.woff') format('woff');
}

body {
  background-color: black;
  color: white;
  #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.link_to {
  text-decoration: none;
  color: white;
}

.font {
  font-family: 'fox';
}




// ヘッダー（指名手配ボタン）

.container_header01 {
  text-align: right;
  margin-right: 30px;
}




//ヘッダー（KIEETAロゴあり）

.container_header02 {
  text-align: left;
  margin-left: 20px;
  padding-top: 12px;
}

.header_with_logo {
  background-color: #383838;
  height: 60px;
}




// ロゴとEnter

.top {
  font-size: 23px;
  text-align:  center;
  margin: 240px 0 250px 0;
  h1 {
    transition: .3s;
    &:hover {
      transform: translateY(-4px);
    }
  }
}




// footer(利用規約、プライバシーポリシー、お問い合わせ)

ul {
  list-style: none;
  display: flex;
	justify-content: center;
	margin:0;
	padding: 0;
}

footer {
  background-color: #383838;
  margin-top: auto;
  height: 60px;
  width: 100%;
  nav {
    padding: 23px 0;
  }
  .footer01 {
    color: #878787;
    opacity: 0.9;
    margin: 10px;
    font-size: 16px;
    &:hover {
    color: white;
    }
  }
}


// 利用規約とプライバシーポリシー

.white_frame {
  margin: 30px 80px 50px 80px;
  padding: 0 30px 16px 30px;
  border-width: 5px;
  border-style: solid;
  .title {
    font-weight: bold;
    font-size: 1.2rem;
  }
}


// お問い合わせ

.container_inquiry {
  text-align: center;
  font-size: 1.3rem;
}

.twitter {
  background-color: #00acee;
  padding: 8px 20px;
  border-radius: 8px;
}

.twitter_btn {
  margin: 30px 0 20px 0;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}



//introductionのページ

.introduction {
  text-align: center;  //画像を中央に
  font-size: 30px;
  .dialogue_frame {
    border-width: 5px;
    border-style: solid;
    margin: 10px 140px 0 140px;
    padding: 0 0 100px 30px;
    text-align: left;
  }
  .second {
    margin-left: 45px;
  }
  .next {
    text-align: right;
    font-size: 42px;
    margin: 5px 135px 0 0;
    &:hover {
      color: #FFFF00;
    }
  }
}



// ここからスマホ　U^ェ^U

@media screen and (max-width: 540px) {
  
  //KIEETAのロゴ画像
  .logo_s {
    width: 300px;
  }
  
  // ロゴとヘッダーの距離調整
  .top {
    margin-top: 195px;
    font-size: 1rem;
  }
  
  // フッターの文字を小さくした
  footer .footer01 {
    font-size: 14px;
  }
  
  // 利用規約とプライバシーポリシーのサイズ調整
  .white_frame {
    margin: 10px;
    padding: 0 5px 5px 10px;
  }
  
  // twitterボタンの透明度
  .twitter_btn {
    opacity: 1;
  }
  
  // introductionのサイズ調整
  
}