// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
  font-family: 'kaisotai';
  src: url('../fonts/kaiso_after.woff') format('woff');
}

body {
  background-color: black;
  color: white;
  #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}




// ヘッダー（指名手配ボタン）

.container_header01 {
  text-align: right;
  margin-right: 30px;
}

.orrange_btn {
  color: #FF7F27;
  text-decoration: none;
  padding: 3px 8px 3px 4px;
  border-width: 2px;
  border-style: solid;
  font-family: "kaisotai";
  font-size: 35px;
  letter-spacing : -4px;
  &:hover {
    color: #FFFF00;
  }
}




//ヘッダー（KIEETAロゴあり）

.container_header02 {
  text-align: left;
  margin-left: 20px;
  padding-top: 12px;
}

.header_with_logo {
  background-color: #383838;
  height: 60px;
}




// ロゴとEnter

.top {
  text-align:  center;
  margin-top: 240px;
  margin-bottom: 222px;
  h1 {
    transition: .3s;
    &:hover {
      transform: translateY(-4px);
    }
  }
}

.top_enter {
  font-family: monospace;
  text-decoration: none;
  color: white;
  font-size: 36px;
}




// footer(利用規約、プライバシーポリシー、お問い合わせ)

ul {
  list-style: none;
  display: flex;
	justify-content: center;
	margin:0;
	padding: 0;
}

footer {
  background-color: #383838;
  margin-top: auto;
  height: 60px;
  width: 100%;
  .footer01 {
    text-decoration: none;
    color: #878787;
    opacity: 0.9;
    margin: 10px;
    font-family: monospace;
    font-size: 16px;
    &:hover {
    color:white;
    }
  }
  nav {
    padding: 20px 0;
  }
}


// 利用規約

.terms_of_use {
  margin: 30px 80px 50px 80px;
  padding: 0 30px 16px 30px;
  border-width: 3px;
  border-style: solid;
  .title {
    font-weight: bold;
    font-size: 1.2rem;
  }
}



// ここからスマホ　U^ェ^U

@media screen and (max-width: 540px) {
  .logo_s {
    width: 300px;
  }
  .top {
    margin-top: 195px;
  }
  footer .footer01 {
    font-size: 14px;
  }
  .terms_of_use {
    margin: 10px;
    padding: 0 5px 5px 10px;
  }
}